@inherits LayoutComponentBase

<div class="shell">
    <header class="topbar">
        <div>
            <div class="brand">Sample Blazor Server</div>
            <div class="sub">minikube / Kubernetes / Blazor Server</div>
        </div>
    </header>

    <main class="content">
        @Body
    </main>
</div>
